@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #7c3aed;
  --brand-secondary: #22c55e;
}

html, body, #__nuxt { height: 100%; }
body { @apply bg-neutral-900 text-white; font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, Arial; }
